<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000817" />
  <meta
    name="description"
    content="The Globe frontend"
  />
  <title>Error :(</title>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <style>
    body {
      background-color: #000817;
      width: 100vw;
      height: 100vh;
      margin: 0;
      color: white;
    }
    .box {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .inner-box {
      margin-top: -53px;
    }

  </style>
  <div class="box">
    <div class="inner-box">
      <p class="h1 font-weight-light">Error :(</p>
      <p class="h5 font-weight-light">We're sorry, but something went wrong here...</p>
      <p class="h5 font-weight-light">If you keep coming back to this page, please reach out to our support!</p>
    </div>
  </div>
</body>
</html>