<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="author" content="The Globe">
  <meta name="publisher" content="The Globe">
  <meta name="copyright" content="The Globe">
  <meta name="description" content="The Globe Closed Demo.
  The Globe provides a new way of ingesting the News, we take the News of major Sites RSS Feeds, and Display them on a Globe, giving you more context to each story.">
  <meta name="keywords" content="Globe, News, Media, Geography, Location, Important, Breaking, News, Learning">
  <meta name="robots" content="index, follow">
  <link rel="icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000817" />
  <meta
    name="description"
    content="The Globe frontend"
  />
  <title>Sign In</title>
  <!-- Google Sign In client_id -->
  <meta name="google-signin-client_id" content="672422666473-5njm9gr168t84s7keu72qhkqr27cp0v1.apps.googleusercontent.com">
  <!-- Google Sign in Api -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <style>
    body {
      background-color: #000817;
      width: 100vw;
      height: 100vh;
      margin: 0;
      color: white;
    }
    .box {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .inner-box {
      margin-top: -53px;
    }
    .links {
      height: 24px;
      position: fixed;
      bottom: 10px;
      left: 10px;
    }
    .links a {
      margin-right: 0.5em;
      margin-left: 0.5em;
    }
    .links a {
      margin-right: 0.5em;
      margin-left: 0.5em;
    }
    .links a:link{
      color: white !important;
    }
    .links a:visited {
      color: rgb(137, 184, 255) !important;
    }
    .links a:active {
      color: rgb(137, 184, 255) !important;
    }
    .links a:hover {
      color: #acacac !important;
    }
  </style>
  <div class="box">
    <div class="inner-box">
      <p class="h1 font-weight-light">The Globe</p>
      <div class="g-signin2" data-ux_mode="redirect" data-width="172.95" data-onfailure="onFailure" data-onsuccess="onSignIn"></div>
    </div>
  </div>
  <div class="links">
    <a href="https://globn.de/contact">Contact</a>|<a href="https://globn.de/privacy">Privacy</a>
  </div>
  <script>
    function onFailure() {
      console.log('An Error accured during signing in')
      window.location.pathname = '/error'
    }
    function onSignIn(googleUser) {
      var id_token = googleUser.getAuthResponse().id_token;
      var xhr = new window.XMLHttpRequest();
      xhr.open('POST', '/auth_callback', false);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function() {
        window.location.pathname = xhr.response;
      };
      xhr.send(JSON.stringify({
        id_token: id_token
      }));
    }
  </script>
</body>
</html>