@media (max-width: 859.98px) {
  .sm-feed {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60vh;
    background-color: white;
  }
  .hide {
    transition-duration: 2s, 0s;
    transition-property: transform, visibility;
    transition-delay: 0s, 2s;
    transform: translateY(100%);
    visibility: hidden;
  }
  .show {
    transition-duration: 2s, 0s;
    transition-property: transform, visibility;
    transition-delay: 0s, 0s;
    transform: translateY(0);
    visibility: visible;
  }
}
@media (min-width: 860px) {
  .feed {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    left: 15%;
    width:70%;
    height: 60vh;
    background-color: white;
  }
  .hide {
    transition-duration: 2s, 0s;
    transition-property: transform, visibility;
    transition-delay: 0s, 2s;
    transform: translateY(100%);
    visibility: hidden;
  }
  .show {
    transition-duration: 2s, 0s;
    transition-property: transform, visibility;
    transition-delay: 0s, 0s;
    transform: translateY(0);
    visibility: visible;
    bottom: 2%;
  }

}

.col,
.col-6 {
    color: rgb(0, 0, 0);
    text-align: center;
    /* border: 2px solid #fff; */
}

.article-outer-container {
  padding: 4% 10%;
  height: calc(100% - 2.5rem);
}
.article-inner-container {
  width: 100%;
  max-width: 1000px;
}

.button-container {
  height: 2.5rem;
}

.button-container button:focus{
  outline: none;
}

.feed-button {
  width: 50%;
  height: 2.5rem;
  color: rgb(22, 22, 22);
}

.feed-button-hover {
  background-color: rgb(167, 167, 167) !important;
}