@media (max-width: 859.98px) {
  .sm-feed {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60vh;
    background-color: white;
  }
  .isShow {
    animation-duration: 2s;
    animation-name: show;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  .isnotShow {
    animation-duration: 2s;
    animation-name: hide;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  @keyframes show {
    0%    {bottom: -60vh; display: block;}
    100%  {bottom: 0;}
  }
  @keyframes hide {
    0%    {bottom: 0;}
    100%  {bottom: -60vh; display: none;}
  }
}
@media (min-width: 860px) {
  .feed {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    left: 15%;
    width:70%;
    height: 60vh;
    background-color: white;
  }
  .isShow {
    animation-duration: 1.5s;
    animation-name: show;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  .isnotShow {
    animation-duration: 1.5s;
    animation-name: hide;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  @keyframes show {
    0%    {bottom: -60vh;}
    100%  {bottom: 2%;}
  }
  @keyframes hide {
    0%    {bottom: 2%;}
    100%  {bottom: -60vh;}
  }
}

.col,
.col-6 {
    color: rgb(0, 0, 0);
    text-align: center;
    /* border: 2px solid #fff; */
}

.article-outer-container {
  padding: 4% 10%;
  height: calc(100% - 2.5rem);
}
.article-inner-container {
  width: 100%;
  max-width: 1000px;
}

.button-container {
  height: 2.5rem;
}

.feed-button {
  width: 50%;
  height: 2.5rem;
  color: rgb(22, 22, 22);
}

.feed-button-hover {
  background-color: rgb(214, 214, 214) !important;
}